
{% set docstring_indent = '    ' %}
from typing import Optional
from my_codegen.rest_client.client import ApiClient

{% for srv in services %}
from rest_clients.{{ srv.service_name }}.facade import {{ srv.api_class }}
{% endfor %}


class ApiFacade:
    def __init__(self, client: ApiClient):
        {% for srv in services %}
        self.{{ srv.service_name }} = {{ srv.api_class }}(client)
        {% endfor %}