{% set docstring_indent = '    ' %}
from ..rest_client.client import ApiClient

{% for imp in imports %}
from .{{ imp.module_name }} import {{ imp.class_name }}
{% endfor %}


class {{ facade_class_name }}:
    def __init__(self, client: ApiClient):
        self._client = client

        {% for imp in imports %}
        self.{{ imp.attribute_name }} = {{ imp.class_name }}(self._client)
        {% endfor %}
