
{% set docstring_indent = '    ' %}
from typing import Optional

{% for srv in services %}
from http_clients.{{ srv.service_name }}.facade import {{ srv.api_class }}
{% endfor %}


class ApiFacade:
    def __init__(self, auth_token: Optional[str] = None):
        {% for srv in services %}
        self.{{ srv.service_name }} = {{ srv.api_class }}(auth_token)
        {% endfor %}