from http import HTTPStatus
import allure

from typing import Any, Optional, List, Dict
from my_codegen.http_clients.api_client import ApiClient
from {{ models_import_path }} import {{ imports | join(', ') }}

class {{ class_name }}:

    def __init__(self, client: ApiClient):
        self._client = client

{% for method in methods %}
    def {{ method.name }}(self,
        {% if method.required_params %}{{ method.required_params | join(',\n        ') }},{% endif %}
        {% if method.optional_params %}{{ method.optional_params | join(',\n        ') }},{% endif %}
        headers: Optional[Dict[str, str]] = None,
        expected_status: HTTPStatus = HTTPStatus.{{ method.expected_status }}) -> {{ method.return_type }}:

        """
        {{ method.description }}
        """
        with allure.step("{{ method.summary }} ({{ method.path_assignment }})"):
            path="{{ method.path_assignment }}"

            {{ method.http_call }}
        {{ method.return_statement }}

{% endfor %}